@model ShoppingCart.Controllers.Deals.DealControllerIndexData

@{
    ViewBag.Title = "Deals";
}

<h2>Deals</h2>
<div class="row">
    @foreach (var voucherDetail in Model.Vouchers)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@voucherDetail.Voucher.Title</h3>
                </div>
                <div class="panel-body" style="height: 235px;">
                    <p>
                        <strong>@voucherDetail.Voucher.Code</strong>
                    </p>
                    <p>Applied with the following delivery types: </p>
                    <ul>
                        @foreach (var deliveryType in voucherDetail.AllowedDeliveryTypes)
                        {
                            <li>@deliveryType.ToString()</li>
                        }
                    </ul>
                    <p>Applied with the following pizza sizes: </p>
                    <ul>
                        @foreach (var size in voucherDetail.AllowedSizes)
                        {
                            <li>@size.Name</li>
                        }
                    </ul>
                    <p>Cost: @(voucherDetail.Voucher.Price.InPence == 0 ? voucherDetail.Voucher.Notes : voucherDetail.Voucher.Price.InFull)</p>
                </div>
                <div class="panel-footer">
                    @using (Html.BeginForm("ApplyDeal", "Deals", FormMethod.Post))
                    {
                        <fieldset>
                            @Html.Hidden("dealId", voucherDetail.Voucher.Id)
                            @if (Model.VoucherDetails?.Voucher.Code == voucherDetail.Voucher.Code)
                            {
                                <input type="submit" value="Selected" class="btn btn-primary" disabled="disabled"/>
                            }
                            else
                            {
                                <input type="submit" value="Select" class="btn btn-primary"/>
                            }
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    }
</div>