@model ShoppingCart.Controllers.Basket.BasketControllerHistoryData

@{
    ViewBag.Title = "title";
}

<h1>History</h1>

<div class="row">
    <div class="col-md-12">
        @if (Model.BasketDetails.Any())
        {
            foreach (var basketItem in Model.BasketDetails)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div class="row">
                                <div class="col-md-6">
                                    Order <small>#@basketItem.Basket.Id</small>
                                </div>
                                <div class="col-md-6" style="text-align: right; font-weight: bold; color: #27ae60;">
                                    @basketItem.Total.InFull
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        @if (basketItem.Orders.Count > 0)
                        {
                            <ul>
                                @foreach (var orderDetail in basketItem.Orders)
                                {
                                    <li>
                                        @orderDetail.Order.Pizza.Name
                                        <small style="font-weight: bold; text-transform: uppercase; font-size: 1rem;">(@orderDetail.Order.Size.Name)</small>
                                        <small style="font-weight: bold; color: #27ae60;">@orderDetail.Total.InFull</small>
                                        @if (orderDetail.Toppings.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var toppingDetail in orderDetail.Toppings)
                                                {
                                                    <li>@toppingDetail.Topping.Name</li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>There are no items in the history!</h4>
                </div>
            </div>
        }
    </div>
</div>