@model ShoppingCart.Pages.BasketPage.BasketControllerIndexData

@{
    ViewBag.Title = "Basket";
}

<h1>Basket</h1>

<div class="row">
    <div class="col-md-12">
        @if (Model.Basket.Items.Any())
        {
            foreach (var basketItem in Model.Basket.Items)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div class="row">
                                <div class="col-md-6">
                                    @basketItem.Pizza.Name <small>@basketItem.Size.Name</small>
                                </div>
                                <div class="col-md-6" style="text-align: right; font-weight: bold; color: #27ae60;">
                                    @basketItem.Total.InFull
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        @if (basketItem.ExtraToppings.Count > 0)
                        {
                            <p>Extra Toppings</p>
                            <ul>
                                @foreach (var extraTopping in basketItem.ExtraToppings)
                                {
                                    <li>@extraTopping.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <small>No extra toppings selected.</small>
                        }
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Checkout", "Basket", FormMethod.Post))
                            {
                                <fieldset>
                                    <h4>Delivery</h4>
                                    <div class="form-group">
                                        <label class="custom-control custom-checkbox" style="margin-right: 15px;">
                                            @Html.RadioButton("delivery", "delivery", new { @class = "custom-control-input", @checked = true })
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Delivery</span>
                                        </label>

                                        <label class="custom-control custom-checkbox" style="margin-right: 15px;">
                                            @Html.RadioButton("delivery", "collection", new { @class = "custom-control-input", @checked = false })
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Collection</span>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBox("voucher", "", new { @class = "form-control", placeholder = "Voucher Code" })
                                    </div>
                                    <input type="submit" value="Checkout" class="btn btn-primary" />
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <hr />
                    <h1>
                        <small>Total</small> <span style="color: #27ae60;">@Model.Total.InFull</span>
                    </h1>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>There are no items in the basket!</h4>
                </div>
            </div>
        }
    </div>
</div>
