@model ShoppingCart.Controllers.Basket.BasketControllerSummaryData

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <div class="row">
                        <div class="col-md-6">
                            Order <small>#@Model.BasketDetails.Basket.Id</small> <small style="color: #333; font-size: 1rem; font-weight: bold;">@(!Model.BasketDetails.Basket.Voucher.IsEmpty() ? $"VOUCHER USED: {Model.BasketDetails.Basket.Voucher}" : "")</small>
                        </div>
                        <div class="col-md-6" style="color: #27ae60; font-weight: bold; text-align: right;">
                            @Model.BasketDetails.Total.InFull
                        </div>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                @if (Model.BasketDetails.Orders.Count > 0)
                {
                    <ul>
                        @foreach (var orderDetail in Model.BasketDetails.Orders)
                        {
                            <li>
                                @orderDetail.Order.Pizza.Name
                                <small style="font-size: 1rem; font-weight: bold; text-transform: uppercase;">(@orderDetail.Order.Size.Name)</small>
                                <small style="color: #27ae60; font-weight: bold;">@orderDetail.Total.InFull</small>
                                @if (orderDetail.Toppings.Count > 0)
                                {
                                    <ul>
                                        @foreach (var toppingDetail in orderDetail.Toppings)
                                        {
                                            <li>@toppingDetail.Topping.Name</li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>