@model ShoppingCart.HomePage.HomeControllerIndexData
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @if (Model.BasketItems.Any())
        {
            <h1>Basket</h1>
            <ul>
                @foreach (var basketItem in Model.BasketItems)
                {
                    <li>
                        @basketItem.Name - @basketItem.Size - @basketItem.Price.InFull
                        @if (basketItem.ExtraToppings.Count > 0)
                        {
                            <p>(@string.Join(",", basketItem.ExtraToppings);)</p>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>

<h1>Pizzas</h1>
<div class="row">
    @foreach (var pizza in Model.Pizzas)
    {
        <div class="col-md-4">
            <div class="panel panel-default" style="height: 360px">
                <div class="panel-heading">
                    <h3 class="panel-title">@pizza.Name</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        @foreach (var size in pizza.Sizes)
                        {
                            <li>
                                @size.Key.Name -
                                <a href="@Url.Action("AddPizzaToBasket", "Home", new { pizzaName = pizza.Name, pizzaSize = size.Key.Name, pizzaPriceInPence = size.Value.InPence })">@size.Value.InFull</a>
                            </li>
                        }
                    </ul>

                    <h4>Toppings</h4>
                    <ul>
                        @foreach (var topping in pizza.Toppings)
                        {
                            <li>@topping.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>